
@keyframes disappearBottom {    
    0% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      100% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
      }
}

@keyframes scale-min {
    100% {
        transform: scale(0.6) translateY(-500px);
    }
}

@keyframes main-title-sign {
    100% {
        font-size: 64pt;
        color: azure;
        transform: translateY(-10px) translateX(0px);
        background-image: linear-gradient(90deg, var(--gray), azure);
    }
    
}

@keyframes rotateAlbumLeft {
    100% {
        transform: translate(-25px, 50px) rotate(-12deg);
    }
}

@keyframes rotateAlbumRight {
    100% {
        transform: translate(25px, 50px) rotate(12deg);
    }
}

@keyframes rotate180 {
    0% {
        transform: scale(0.6) translateY(-500px);
    } 100% {
        transform: scale(0.6) rotate(180deg) translateY(-400px);
    }
}

@keyframes floating {
    0% {
        transform: scale(0.6) rotate(180deg) translateY(-400px);
    } 100% {
        transform: scale(0.6) rotate(180deg) translateY(-410px);
    }
}

@keyframes show {
    0% {
        visibility: hidden;
        opacity: 0;
    } 100% {
        visibility: visible;
        opacity: 1;
    }
}

.link-curriculum {
    color: azure;
    text-decoration: none;
}

.link-curriculum:hover {
    text-decoration: underline;
}

.wrapper-text-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper-text-about-me .text-about-me-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.show {
    animation: show 2s ease-out forwards;
}

#ciudad-de-mexico {
    top: 60rem;
}

.text-about-me-positioning {
    top: 20rem;
    position: absolute;
}

.text-about-me {
    width: 50rem;
    text-align: center;
    color: azure;
    font-size: 18pt;
    font-family: 'Eczar', serif;
    visibility: hidden;
    opacity: 0;
}

.text-about-me:nth-of-type(2) {
    top: 22.5rem;
}

.text-about-me:nth-of-type(3) {
    top: 25rem;
}

.text-about-me:nth-of-type(4) {
    top: 27.5rem;
}

#main-wrapper-section-img-mine .main-section-wrapper-img {
    width: 47%;
}

.hide {
    visibility: hidden;
    display: none;
}

#main-wrapper-section-img-mine {
    transform: rotate(180deg);
    margin-top: 2000px;
    display: block;
    position: absolute;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.t {
    transform-origin: center calc(100% + 500px);
}

.animation-infinite {
    animation: floating 2s ease-in-out infinite alternate!important;
}

.main-wrapper-container .rotate180 {
    animation: rotate180 3s cubic-bezier(1, 0, 0, 1) forwards;
}

.rotate180 #main-wrapper-section-img-mine {
    transform: rotate(180deg);
}

.unclickable {
    pointer-events: none;
}

.rotate-ok-computer {
    animation: rotateAlbumRight 1s ease-in-out forwards;
}

.rotate-the-glow-pt2 {
    animation: rotateAlbumLeft 1s ease-in-out forwards;
}

.change-main-albums {
    animation: scale-min 1s ease-in-out forwards;
}

.change-title {
    animation: main-title-sign 1s ease-in-out forwards;
}


.disappear-bottom {
    animation: disappearBottom 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}