
/* Declarar variables (para colores). Se hace con :root y dento se pone "--nombreDeLaVariable: color" */
:root {
    --gray: #333333;
    --lime: #d3d2a7;
}

/* Importar una fuente DESCARGADA en tu carpeta del proyecto */
@font-face {
    font-family: CircularSpotify;   /* Se asigna un nombre a esa fuente DESCARGADA */
    src: url("fuentes/CircularSpotifyText-Black.otf") format("opentype");   /* Selecciona dónde está guardada esa fuente y de qué tipo es. */
}

* {
    box-sizing: border-box;
    margin: 0;
}

/* Estas propiedades modifican la barra lateral (scroll bar) */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(
        to bottom,
        #333333,
        #2b2b2b
    );
}
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #7f7d66;
}

body {
    background: linear-gradient(
        to bottom,
        #333333,
        #2b2b2b,
        #262626,
        #1d1d1d,
        #1a1a1a,
        #0e0e0e,
        #0a0a0a
    );
}

#main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/wave.svg);
    background-size: cover;
    background-position: center;
    padding: 460px 0px;
    height: 900px;                    /* cambiar con Media Queries*/
}

.main-nav {
    display: flex;
    position: absolute;
    top: 100px;
    left: 100px;
}

#nav-menu {
    visibility: hidden;
    transform: translateY(50px);
    opacity: 0;
    list-style-type: none;
    padding: 0;
    position: relative;
    right: 45px;
    margin-top: 2.5px;
}

.nav-menu-item {
    background-color: var(--gray);
}

.nav-menu-item:hover {
    background-color: #7f7d66;
    cursor: pointer;
}

.nav-menu-link {
    padding: 20px 30px;
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: var(--lime);
    text-align: center;
}

#nav-menuicon {
    cursor: pointer;
    width: 47.16px;
    height: 39.3px;
    fill: #333333;
}

#nav-menuicon:hover {
    fill-opacity: 0.5;
}

.main-wrapper-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

#main-wrapper-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.main-title {
    display: flex;
    justify-content: space-between;
    color: var(--gray);
    align-items: flex-end;
    cursor: default;
}

/* Se agrega un fondo al nombre Diego Arroyo y se hace de 3px, desde la izquierda y en la parte inferior.
Con transiciones se logra el efecto de subrayado. */
#main-title-sign {
    font-family: CircularSpotify;
    font-size: 120pt;
    background-image: linear-gradient(90deg, var(--gray), var(--lime));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 1.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#main-title-sign:hover {
    background-size: 100% 3px;
}

#main-title-sub {
    font-family: 'Crimson Pro', serif;
    font-size: 28pt;
    margin-bottom: 40px;
    margin-left: 70px;
    letter-spacing: -1px;
    font-weight: 200;
}

#main-title-sub strong {
    font-weight: 500;
    font-style: italic;
}

.main-section-wrapper-img {
    width: 425px;
    height: 425px;
}

.main-section-wrapper-img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.div-img-hidden {
    display: none;
    height: 0;
    position: relative;
    text-align: end;
    font-family: 'Crimson Text', serif;
    font-weight: 600;
    color: var(--gray);
}

.div-img-hidden-clickable {
    display: none;
    align-items: center;
    padding: 100px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(
        to bottom,
        #333333,
        #262626,
        #1d1d1d,
        #1a1a1a
    );
    background-size: 200%;
    font-family: 'Crimson Pro', serif;
    font-weight: 600;
    color: var(--lime);
    gap: 50px;
    z-index: 999;
}

.img-content-title {
    display: block;
    font-size: 30pt;
}

.album-contents {
    display: block;
    height: 650px;
}

.album-description {
    max-height: calc(100% - 2rem - 1.5em - 42pt);
    margin-top: 2rem;
    font-size: 16pt;
    overflow-y: scroll;
    padding-right: 2rem;
    font-family: 'Crimson Text';
    font-weight: 500;
}

.album-description::-webkit-scrollbar-track {
    border-radius: 50px;
}

.album-rated h1 {
    font-size: 24pt;
    text-align: end;
}

.album-title {
    font-size: 42pt;
}

.album-artist {
    cursor: default;
}

.album-title a {
    color: var(--lime);
    text-decoration: none;
}

.album-title a:hover {
    opacity: 0.5;
}

.img-expandible {
    width: 650px;
    height: 650px;
    box-shadow: rgba(5, 7, 8, 0.12) 0px 2px 4px 0px, rgba(0, 0, 0, 0.32) 0px 2px 16px 0px;
}

.img-expandible:hover {
    cursor: default;
    opacity: 1;
}

.img-hidden-collapse {
    fill: var(--lime);
    position: absolute;
    top: 180px;
    right: 124px;
    cursor: pointer;
}

.img-hidden-collapse:hover {
    fill-opacity: 0.5;
}

.main-wrapper-section-hoverable:hover .div-img-hidden {
    display: block;
}

#section-wrapper .div-img-hidden {
    color: var(--lime);
}

.section-wrapper-img {
    width: 425px;
    height: 425px;
}

#section-wrapper {
    margin: auto;
    padding: 250px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    gap: 50px;
}

@media screen and (max-width: 1400px) {
    #main-title-sign {
        font-size: 70pt;
    }

    #main-title-sub {
        font-family: 'Crimson Pro', serif;
        font-size: 20pt;
        margin-bottom: 27px;
    }

    .main-section-wrapper-img, .section-wrapper-img {
        width: 270px;
        height: 270px;
    }

    #main-wrapper {
        height: 800px;
    }

    #nav-menuicon {
        width: 35px;
        height: 25px;
    }

    #nav-menu {
        margin-top: 1px;
    }

    .main-nav {
        left: 90px;
    }

    .nav-menu-link {
        padding: 20px 25px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1440px) {
    .main-section-wrapper-img, .section-wrapper-img {
        width: 350px;
        height: 350px;
    }   
}

@media screen and (max-width: 1600px) {
    .main-section-wrapper-img, .section-wrapper-img {
        width: 425px;
        height: 425px;
    }   
}

@media screen and (max-width: 1024px) {
    .main-nav {
        top: 50px;
    }

    .nav-menu-link {
        padding: 10px 20px;
    }

    #main-wrapper {
        padding: 0;
        height: 600px;
    }

    #main-wrapper-section {
        justify-content: center;
        gap: 20px;
    }

    #main-wrapper-section .main-wrapper-section-hoverable:last-child {
        display: none;
    }

    .main-wrapper-section-hoverable {
        margin-bottom: 5px;
    }
    
    .main-section-wrapper-img, .section-wrapper-img {
        width: 170px;
        height: 170px;
    }

    .main-title {
        flex-direction: column;
    }

    #main-title-sign {
        font-size: 40pt;
    }

    #main-title-sign:hover {
        background-size: 0%;
    }

    #main-title-sub {
        font-size: 15pt;
        margin: 0;
        margin-top: -5px;
    }

    #section-wrapper {  
        padding: 150px 0px;
        width: 100%;
        gap: 20px;
    }

    .div-img-hidden-clickable {
        flex-direction: column;
        padding: 20px;
        padding-top: 50px;
        gap: 20px;
        z-index: 999;
        overflow: scroll;
    }

    .img-expandible {
        height: auto;
        width: 340px;
    }

    .img-hidden-collapse {
        margin-top: 5px;
        right: 20px;
    }

    .album-description {
        overflow-y: initial;
    }

    .album-description p {
        padding-bottom: 1rem;
    }
} 

@media screen and (max-width: 1440px) {
    .main-nav {
        top: 100px;
    }

    .nav-menu-link {
        padding: 20px 20px;
    }

    #main-wrapper {
        padding: 0;
        height: 800px;
    }

    #main-wrapper-section {
        justify-content: center;
        gap: 20px;
    }

    #main-wrapper-section .main-wrapper-section-hoverable:last-child {
        display: none;
    }

    .main-wrapper-section-hoverable {
        margin-bottom: 5px;
    }
    
    .main-section-wrapper-img, .section-wrapper-img {
        width: 300px;
        height: auto;
    }

    #main-title-sign {
        font-size: 80pt;
    }

    #main-title-sub {
        font-size: 20pt;
        transform: translateY(10px);
    }

    #section-wrapper {  
        padding: 150px 0px;
        width: 100%;
        gap: 20px;
    }

    .img-expandible {
        height: auto;
        width: 540px;
    }

    .img-hidden-collapse {
        margin-top: -5px;
    }
} 

@media screen and (max-width: 768px) {
    .main-nav {
        top: 50px;
    }

    .nav-menu-link {
        padding: 10px 20px;
    }

    #main-wrapper {
        padding: 0;
        height: 600px;
    }

    #main-wrapper-section {
        justify-content: center;
        gap: 20px;
    }

    #main-wrapper-section .main-wrapper-section-hoverable:last-child {
        display: none;
    }

    .main-wrapper-section-hoverable {
        margin-bottom: 5px;
    }
    
    .main-section-wrapper-img, .section-wrapper-img {
        width: 170px;
        height: 170px;
    }

    .main-title {
        flex-direction: column;
    }

    #main-title-sign {
        font-size: 40pt;
    }

    #main-title-sign:hover {
        background-size: 0%;
    }

    #main-title-sub {
        font-size: 15pt;
        margin: 0;
        margin-top: -5px;
    }

    #section-wrapper {  
        padding: 150px 0px;
        width: 100%;
        gap: 20px;
    }

    .div-img-hidden {
        display: block;
        font-size: 10pt;
        width: 170px;
        height: 15px;
        overflow: hidden;
        white-space: nowrap;
    }

    .div-img-hidden-clickable {
        flex-direction: column;
        padding: 20px;
        padding-top: 50px;
        gap: 20px;
        z-index: 999;
        overflow: scroll;
    }

    .img-expandible {
        height: auto;
        width: 340px;
    }

    .img-hidden-collapse {
        margin-top: 5px;
        right: 20px;
    }
}